body{
    font-family: Arial, sans-serif;
}
header{
    background-color:#fceef1;
}

.haed-title{
    margin: 40px 40px 40px 90px;
    
}

.head-intro{
    margin: 40px 40px 40px 90px;

}

.shop-btn{
    margin: 40px 40px 40px 90px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #e55473;
}

.head-banner{
    height: 400px;
    width: 400px;
    margin-left: 200px;
}

/*  */
.theme-clr{
    color: #e55473;
}

/* feature */

.ftr{
    width: 60%;
    margin-left: 250px;
    display: flex;
    justify-content: space-around;
}

.ftr-1{
    height: 250px;
    width: 200px;
    background-color: #f2dee7;
    border-radius: 90px 90px 0px 0px;
}
.ftr-2{
    height: 250px;
    width: 200px;
    background-color:#d9eff1;
    border-radius: 90px 90px 0px 0px;
}
.ftr-3{
    height: 250px;
    width: 200px;
    background-color: #e3ebdb;
    border-radius: 90px 90px 0px 0px;
}

/* offer */

.offer{
    background-color:#fceef1;
    margin-top: 120px;
}

.offer-title{
    margin: 40px 40px 40px 90px;
    
}

.offer-intro{
    margin: 40px 40px 40px 90px;

}

.offer-btn{
    margin: 40px 40px 40px 90px;
    background-color: #e55473;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

/* instagram */

.insta-post{
   width: 20%;
    margin-left: 200px;
   display: flex;
}

.post-1{
    background-color: #f2dee7;
    margin: 10px 10px;
}
.post-2{
    background-color: #d9eff1;
    margin: 10px 10px;
}
.post-3{
    background-color: #e3ebdb;
    margin: 10px 10px;
}
.post-4{
    background-color: #f2dee7;
    margin: 10px 10px;
}

/* deals  */

.deals-info{
    color: #a03131;
    margin-top: 40px;
}

.email-container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .email-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  .subscribe-button {
    padding: 10px 20px;
    background-color:#a03131;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .subscribe-button:hover {
    background-color: #0056b3;
  }

  /* footer  */

  .footer {
    text-align: center;
    padding: 20px;
    background-color: black;
  }
.footer-intro{
    color: white;
    
}
  .footer-text {
    color: white;
    font-size: 14px;
  }